{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'configuration'}
{/block}

{block name="page-title"}{intl l='List of 404 Error URLs' d="rewriteurl.bo.default"}{/block}

{block name="main-content"}
    {$order = $smarty.get.order|default:"updated_at:desc"}
    <div class="row">
        <div class="col-md-12">
            <div class="general-block-decorator">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title col-md-6">
                            {intl l="Manage 404 Error URLs" d='rewriteurl.bo.default'}
                        </div>

                        <div class="text-right">
                            <a href="{url path="/admin/module/RewriteUrl/manageErrorUrl/delete"}" class="btn btn-danger">{intl l="Delete All Errors Urls" d='rewriteurl.bo.default'}</span></a>
                        </div>

                        <br>

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th> {admin_sortable_header
                                    current_order=$order
                                    order='url_source:asc'
                                    reverse_order='url_source:desc'
                                    path='/admin/module/RewriteUrl/manageErrorUrl'
                                    label="{intl l='URL Source' d="rewriteurl.bo.default"}"
                                    }
                                </th>
                                <th> {admin_sortable_header
                                    current_order=$order
                                    order='user_agent:asc'
                                    reverse_order='user_agent:desc'
                                    path='/admin/module/RewriteUrl/manageErrorUrl'
                                    label="{intl l='User Agent' d="rewriteurl.bo.default"}"
                                    }
                                </th>
                                <th class="text-center">
                                    {admin_sortable_header
                                    current_order=$order
                                    order='count:asc'
                                    reverse_order='count:desc'
                                    path='/admin/module/RewriteUrl/manageErrorUrl'
                                    label="{intl l='Hit Count' d="rewriteurl.bo.default"}"
                                    }
                                </th>
                                <th class="text-center">
                                    {admin_sortable_header
                                    current_order=$order
                                    order='updated_at:asc'
                                    reverse_order='updated_at:desc'
                                    path='/admin/module/RewriteUrl/manageErrorUrl'
                                    label="{intl l='Lastest Hit' d="rewriteurl.bo.default"}"
                                    }
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {loop type="generic" name="rewriteurl_error_url_loop" table_name="rewriteurl_error_url" orders=$order}
                                <tr data-id="{$ID}">
                                    <td><a href="{url path="$URL_SOURCE"}" target="_blank">{$URL_SOURCE}</a></td>
                                    <td>{$USER_AGENT}</td>
                                    <td class="text-center">{$COUNT}</td>
                                    <td class="text-center">{$UPDATED_AT|date_format:"%d/%m/%y"}</td>
                                    <td class="btn-group">
                                        <button class="rewrite_url_modal btn btn-primary" data-toggle="modal" data-target="#ModalRewriteUrl" data-id="{$ID}" data-rule-id="{$REWRITEURL_RULE_ID}"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <a href="#" title="{intl l="Delete this line (it's not deleting the rewritten url !)" d='rewriteurl.bo.default'}" class="btn btn-danger" data-id="{$ID}">
                                            <span class="glyphicon glyphicon-remove"></span></a>
                                    </td>
                                </tr>
                            {/loop}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalRewriteUrl" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{intl l="Edit Rewrite Url"}</h3>
                </div>
                {form name="rewriteurl_form_update_rewrite_url_form"}
                    <form id="RewriteUrlForm" action="{url path='/admin/module/RewriteUrl/manageErrorUrl/update/%id'}" method="post" {form_enctype form=$form} >
                        <div class="modal-body">
                            {form_hidden_fields form=$form}

                            {render_form_field field="success_url" value={url path='/admin/module/RewriteUrl/manageErrorUrl'}}
                            {render_form_field field="error_url" value={url path='/admin/module/RewriteUrl/manageErrorUrl'}}

                            <div class="form-group">
                                {if $form_error}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="alert alert-danger">{$form_error_message}</div>
                                        </div>
                                    </div>
                                {/if}

                                {form_field form=$form field="rewritten_url"}
                                    <input class="form-control rewrite_url" type="text" name="{$name}" value="{$REDIRECT_URL}" placeholder="/path/mypage.html" />
                                {/form_field}
                            </div>

                            <div class="modal-footer">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-success">{intl l="Update the rewritten url" d='rewriteurl.bo.default'}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                {/form}
            </div>
        </div>
    </div>

    <script>
        const baseUrlUpdate = "{url path='/admin/module/RewriteUrl/manageErrorUrl/update/%id'}";
        const baseUrlGetRule = "{url path='/admin/module/RewriteUrl/manageErrorUrl/get-rule?rule_id=%rule_id'}";

        async function getRewriteUrl(rule_id) {
            let getRuleUrl = baseUrlGetRule.replace('%rule_id', rule_id);

            const response = await fetch(getRuleUrl, {
                method: "GET",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            });

            return await response.json()
        }

        async function openModal() {
            let dataId = this.getAttribute('data-id');
            let dataRuleId = this.getAttribute('data-rule-id');

            let form = document.getElementById('RewriteUrlForm');
            let updatedUrl = baseUrlUpdate.replace('%id', dataId);
            form.setAttribute('action', updatedUrl);

            let inputField = document.querySelector('.rewrite_url');
            inputField.setAttribute('value', "")

            if ("" !== dataRuleId) {
                inputField.setAttribute('value', await getRewriteUrl(dataRuleId))
            }
        }

        btnOpenModal = document.getElementsByClassName('rewrite_url_modal')

        for (let i = 0; i < btnOpenModal.length; i++) {
            btnOpenModal[i].onclick = openModal;
        }
    </script>
{/block}

{block name="javascript-initialization"}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.btn-danger');

            deleteButtons.forEach(button => {
                button.addEventListener('click', async function () {
                    const id = this.getAttribute('data-id');
                    const rows = document.querySelectorAll('tr[data-id="' + id + '"]');

                    await fetch(`/admin/module/RewriteUrl/manageErrorUrl/delete/${ id }`, {
                        method: 'POST',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Content-Type': 'application/json',
                        }
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Erreur dans la réponse réseau');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.success) {
                                rows.forEach(row => {
                                    row.remove();
                                });
                            } else {
                                console.error('Erreur lors de la suppression:', data.error);
                            }
                        })
                        .catch(error => {
                            console.error('Erreur:', error);
                        });
                });
            });
        });

    </script>
{/block}