<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="rewrite_url" class="RewriteUrl\Loop\RewriteUrlLoop" />
        <loop name="list-notrewritenurls" class="RewriteUrl\Loop\NotRewritenUrlCategoryLoop"/>
        <loop name="rewrite_url_rule" class="RewriteUrl\Loop\RewriteUrlRuleLoop"/>
    </loops>

    <forms>
        <form name="rewriteurl.reassign.form" class="RewriteUrl\Form\ReassignForm" />
        <form name="rewriteurl.add.form" class="RewriteUrl\Form\AddUrlForm" />
        <form name="rewriteurl.setdefault.form" class="RewriteUrl\Form\SetDefaultForm"/>
    </forms>

    <services>
        <service id="rewriteurl.router.first" class="RewriteUrl\Service\RewritingRouterFirst">
            <tag name="router.register" priority="300"/>
        </service>
        <service id="rewriteurl.router.last" class="RewriteUrl\Service\RewritingRouterLast">
            <tag name="router.register" priority="-300"/>
        </service>
    </services>

    <hooks>
        <hook id="notrewritenurls.hook.back" class="RewriteUrl\Hook\ConfigurationHook" scope="request">
            <tag name="hook.event_listener" event="configuration.catalog-top" type="back" method="onConfigurationCatalogTop"/>
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration" />
            <tag name="hook.event_listener" event="module.config-js" type="back" method="onModuleConfigurationJavascript" />
            <tag name="hook.event_listener" event="module.config-js" type="back" method="onModuleConfigurationJavascript" />
            <tag name="hook.event_listener" event="main.top-menu-tools" type="back" method="onMainTopMenuTools" />
        </hook>
    </hooks>

    <import_categories>
        <import_category id="rewrite_url.imports">
            <title locale="fr_FR">Imports RewriteUrl</title>
            <title locale="en_US">Imports RewriteUrl</title>
        </import_category>
    </import_categories>

    <imports>
        <import id="rewrite_url.import.redirect_gone" class="RewriteUrl\Import\RewriteUrlImport" category_id="rewrite_url.imports">
            <import_descriptive locale="fr_FR">
                <title>Import Redirections et URLs supprimées</title>
                <description>
                    <![CDATA[
                            <p>Importe des urls de redirections (301) et des URLs supprimées (410).</p>
                            <p>(colonnes : URL, REDIRECT, GONE)</p>
                            <p>Désactivé le module UrlSanitizer avant de faire l'import</p>
                    ]]>
                </description>
            </import_descriptive>
            <import_descriptive locale="en_US">
                <title>Import Redirections and Gone URLs</title>
                <description>
                    <![CDATA[
                            <p>Imports redirect URLs (301) and deleted URLs (410).</p>
                            <p>(columns: URL, REDIRECT, GONE)</p>
                            <p>Disable module UrlSanitizer before importing datas</p>
                    ]]>
                </description>
            </import_descriptive>
        </import>
    </imports>

</config>
