<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="rewrite_url" class="RewriteUrl\Loop\RewriteUrlLoop" />
        <loop name="list-notrewritenurls" class="RewriteUrl\Loop\NotRewritenUrlCategoryLoop"/>
        <loop name="rewrite_url_rule" class="RewriteUrl\Loop\RewriteUrlRuleLoop"/>
    </loops>

</config>
