<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>RewriteUrl\RewriteUrl</fullnamespace>
    <descriptive locale="en_US">
        <title>Manage rewrite url</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Gérer la réécriture d'url</title>
    </descriptive>
    <version>1.5.1</version>
    <author>
        <name>Vincent Lopes, Gilles Bourgeat, Tom Pradat</name>
        <email>vlopes@openstudio.fr, gbourgeat@openstudio.fr, tpradat@openstudio.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.1.0</thelia>
    <stability>prod</stability>
</module>
